body{
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}
.forflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    border:50px solid red;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 3px 5px rgb(170, 168, 168);
    padding: 5px;
}
#section{
    border-radius: 50%;
    box-shadow: inset 0px 0px 7px 5px rgb(170, 168, 168);
    height: 100%;
    width: 100%;
}
.div{
    height: 0%;
    width: 0%;
}
.article{
    position: absolute;
    margin: 0px;
    background-color: black;
    height: 5px;
    width: 11rem;
}
#article1{
    transform: rotate(45deg);
    transform-origin: left;
}
#article2{
    transform: rotate(135deg);
    transform-origin: left;
}
#article3{
    transform: rotate(1deg);
    transform-origin: left;
    transition: background-color,transform 10s ease;
}
#article3:hover{
    transform: rotate(360deg);
    background-color: red;
}
@media only screen and (max-width:500px) {
    #main{
        width: 300px;
        height: 300px;
    }
    .article{
        width: 8rem;
    }
}
@media only screen and (max-width:400px) {
    #main{
        width: 200px;
        height: 200px;
    }
    .article{
        width: 6rem;
    }
}