body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(8, 47, 51);
}
#root{
  width: 100%;
  display: flex;
justify-content: center;
  align-items: center;
  height: 100%;
}
/* ***************proOne***** */
.maindiv{
  height: 300px;
  width:300px;
  margin: auto;
  box-shadow: 0px 0px 0px 20px rgb(253, 187, 4);
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
}
.sdiv1:nth-child(odd),.sdiv3:nth-child(odd),.sdiv5:nth-child(odd),.sdiv7:nth-child(odd){
  background-color: rgb(106, 179, 23);
}
.sdiv2:nth-child(even),.sdiv4:nth-child(even),.sdiv6:nth-child(even),.sdiv8:nth-child(even){
  background-color: rgb(106, 179, 23);
}
.proOne{
  width: 50%;
}
