* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(220, 255, 250);
  overflow-y: auto;
}
#root {
  width: 80vw;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
main {
  display: grid;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px auto;
  background-color: rgb(220, 255, 250);
  box-shadow: 10px 10px 30px 4px rgb(180, 179, 179),
    -10px -10px 30px 4px rgb(237, 255, 250);
  text-align: center;
  text-transform: capitalize;
}
main:hover {
  box-shadow: 10px 10px 30px 4px rgb(216, 214, 214),
    -10px -10px 30px 4px rgb(206, 219, 216);
}
