* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: steelblue;
  flex-direction: column;
}
main > .mainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mainDiv > nav {
  height: 70px;
  display: flex;
  background: coral;
  justify-content: space-between;

  overflow-y: hidden;
  align-items: center;
  padding: 30px 20px;
}
nav > h1 {
  color: steelblue;
  font-size: 1.3rem;
  box-shadow: inset 0px 0px 30px 1px aliceblue;
  font-family: sans-serif;
  border-radius: 15px;
  padding: 5px 10px;
}
nav button {
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: beige;
  box-shadow: -2px -2px 10px #ffc9b5, 2px 2px 10px #913e20,
    inset 0px 0px 0px 1px aliceblue;
  font-weight: 700;
  color: coral;
  background: steelblue;
}
main .main {
  padding: 20px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section > .mainItemDiv {
  padding: 10px;
  max-width: 290px;
  width: 100%;
  min-width: 251px;
  border: 2px solid aliceblue;
  background-color: rgb(255 127 80);
  box-shadow: -2px -2px 10px #4e6f8b, 2px 2px 10px #0b3557;
  margin: 10px 5px 0px 5px;
}
.main > div h2 {
  text-align: center;
  font-family: sans-serif;
}
.main > div h2 > h4 {
  font-size: 1.3rem;
  color: steelblue;
}
.main > div a {
  text-decoration: none;
  color: aliceblue;
  text-transform: capitalize;
}
.main > div a:hover {
  color: rgb(86, 156, 247);
}

.mainItemDiv img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

main .item {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background: steelblue;
  padding: 0px 5%;
  align-self: center;
  justify-content: space-around;
}
section .itemDiv {
  display: grid;
  column-gap: 30px;
  padding: 10px;
  border-radius: 20px;
  background: aliceblue;
  grid-template-columns: 4fr 6fr;
}
.item figure {
  border-radius: 9px;
}
.item figure > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

aside h1 {
  text-transform: capitalize;
  color: coral;
  font-family: sans-serif;
  font-size: 1.5rem;
}
aside h3 {
  font-family: monospace;
  color: steelblue;
}
aside h5 {
  font-family: monospace;
  color: coral;
  margin: 10px 0px;
  font-size: 0.8rem;
}
aside > button {
  display: block;
  margin: auto;
}
.itemDiv button {
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: beige;
  box-shadow: -2px -2px 3px #ffffff, 2px 2px 3px #b8b8b8,
    inset 0px 0px 0px 1px aliceblue;
  font-weight: 700;
  color: coral;
  background: steelblue;
}
.addCart {
  display: flex;
  justify-content: space-between;
}
span {
  display: inline-block;
  width: 30px;
  text-align: center;
}
/* :::::::::::::::::::::::::::::: */
.cart {
  position: absolute;
  right: -310px;
  padding: 5px;
  background: steelblue;
  width: 300px;
  border-left: 2px solid aliceblue;
  height: 100vh;
  transition: right 500ms;
  text-align: center;
}
.cartShow {
  transform: translateX(-300px);
}
.cart > button {
  border-radius: 5px;
  padding: 8px 13px;
  display: block;
  border: none;
  font-weight: 900;
  color: coral;
}
.cartItems {
  width: 100%;
  height: 100%;
}
.cartItem {
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 3px;
  color: #eaeeed;
  margin-top: 15px;
  font-family: monospace;
  text-transform: capitalize;
  background: coral;
}
.cartItem img {
  width: 100%;
  height: 60px;
  align-self: center;
  border-radius: 50%;
}

button:hover {
  background-color: rgb(110, 163, 206);
}
