body{
    background: #092231;
}
.input {
    border: none;
    background: #1d3d50;
    box-shadow: 3px 3px 10px 1px #405c6d;
    font-size: 30px;
    text-shadow: 1px 1px 1px #d6caca;
    color: #c5c5c5;
}
.todoHead{
    color: antiquewhite;
    text-align: center;
}
.todo{
    background-color: #0e3248!important;
    border-radius: 6px;
    box-shadow: 4px 4px 10px 1px #9f9e98;
}